body {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    color: whitesmoke;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/fondo.jpg") no-repeat center/cover;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
}


#contenedorTitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;

    h1 {
        margin: 1rem;
    }
}

#contenedorInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#botonInput {
    width: 40%;
    height: auto;
}

/* -------------------- */
/* creados */
#tareas {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;
}

.contenedor {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 10px;
    padding: .5rem;
    width: 250px;
    max-height: 100px;
    align-items: center;
}

p {
    width: 150px;
    word-wrap: break-word;
    max-height: 80px;
    /* permite cortar palabras largas */
    white-space: pre-wrap;
    /* permite los saltos de línea automáticos */
    box-shadow: rgb(54, 40, 180) 5px 5px 5px ;
    border-radius: 10px;
    padding: .5rem;
    overflow-y: auto;  

}


.contenedorBotones {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    text-align: center;
    align-items: end;
}

.tachado {
    text-decoration: line-through;
    background-color: gray;
}